<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/estadoPendiente">Rechazados y Pendientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <h2>Registros Pendientes</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Nombre y Apellido</th>
      <th>Email</th>
      <th>Marca de Vehículo</th>
      <th>Fecha de Ingreso</th>
      <th>Tipo de Lavado</th>
      <th>Estado</th>
      <th class="text-center">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let registro of registros">
      <td>{{ registro.nombre_cliente }}</td>
      <td>{{ registro.email }}</td>
      <td>{{ registro.marca_vehiculo }}</td>
      <td>{{ registro.fecha_ingreso }}</td>
      <td>{{ registro.tipo_lavado }}</td>
      <td>{{ registro.estado }}</td>
      <td>
        <button class="btn btn-primary custom-btn" (click)="redirectToMostrarDetalle(registro._id)">Ver detalles</button>
        <ng-container *ngIf="registro.estado === 'Pendiente'">
          <button class="btn btn-primary custom-btn green-btn" (click)="aceptarSolicitud(registro._id)">Aceptar</button>
          <button class="btn btn-primary custom-btn red-btn" (click)="rechazarSolicitud(registro._id)">Rechazar</button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>
