<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombreInput" placeholder="Nombre Cliente" [(ngModel)]="nombre_cliente" disabled>
        <label for="nombreInput">Nombre</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="cedulaInput" placeholder="Cédula" [(ngModel)]="cedula" disabled>
        <label for="cedulaInput">Cédula</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="direccionInput" placeholder="Dirección" [(ngModel)]="direccion" disabled>
        <label for="direccionInput">Dirección</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="emailInput" placeholder="Correo" [(ngModel)]="email" disabled>
        <label for="emailInput">Correo</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="marcaInput" placeholder="Marca Vehículo" [(ngModel)]="marca_vehiculo" disabled>
        <label for="marcaInput">Marca Vehículo</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="modeloInput" placeholder="Modelo Vehículo" [(ngModel)]="modelo_vehiculo" disabled>
        <label for="modeloInput">Modelo Vehículo</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="fechaInput" placeholder="Fecha Ingreso" [(ngModel)]="fecha_ingreso" disabled>
        <label for="fechaInput">Fecha Ingreso</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="horaInput" placeholder="Hora Ingreso" [(ngModel)]="hora_ingreso" disabled>
        <label for="horaInput">Hora Ingreso</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="empleadoInput" placeholder="Empleado a Cargo" [(ngModel)]="empleado_a_cargo" disabled>
        <label for="empleadoInput">Empleado a Cargo</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="tipoLavadoInput" placeholder="Tipo Lavado" [(ngModel)]="tipo_lavado" disabled>
        <label for="tipoLavadoInput">Tipo Lavado</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="estadoInput" placeholder="Estado" [(ngModel)]="estado" disabled>
        <label for="estadoInput">Estado</label>
      </div>


      <button class="btn btn-primary" (click)="regresar()">Regresar</button>

    </div>
  </div>
</div>
